/build/first_program_less/base_library.zip
/.idea/.gitignore
/build/first_program_less/Analysis-00.toc
/build/first_program_less/EXE-00.toc
/build/first_program_less/first_program_less.pkg
/first_program_less.spec
/.idea/misc.xml
/.idea/modules.xml
/build/first_program_less/PKG-00.toc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/PyQt6_lessons.iml
/build/first_program_less/PYZ-00.pyz
/build/first_program_less/PYZ-00.toc
/qdate_less.py
/.idea/vcs.xml
/build/first_program_less/warn-first_program_less.txt
/build/first_program_less/xref-first_program_less.html
